In [2]:
import yahoo_fin.stock_info as si
import pandas as pd
import numpy as np
import psycopg2

from Data import Data
from datetime import datetime, date, timedelta

In [2]:
data = Data()

In [ ]:
# Get stock prices for all tickers for one year
end_date = date.today()
start_date = end_date - timedelta(365)

start_date_str = start_date.strftime('%d/%m/%Y')
end_date_str = end_date.strftime('%d/%m/%Y')

args = {
    'start_date': start_date_str,
    'end_date': end_date_str
}

fn = si.get_data
df = data.get_all_ticker_data(fn, args, method = 'loop')

Scrape stock price data in series
AACG has 130 records
AACI has 130 records
AACIU has 130 records
AACIW has 1 records
AADI has 130 records
AADR has 130 records
AAL has 130 records
AAME has 130 records
AAOI has 130 records
AAON has 130 records
AAPL has 130 records
AATC has 130 records
AAWW has 130 records
AAXJ has 130 records
ABCB has 130 records
ABCL has 130 records
ABCM has 130 records
ABEO has 130 records
ABGI has 130 records
ABIO has 130 records
ABMD has 130 records
ABNB has 130 records
ABOS has 130 records
ABSI has 130 records
ABST has 130 records
ABTX has 130 records
ABUS has 130 records
ABVC has 130 records

In [7]:
np.random.choice(range(10))

30

In [3]:
args = {}
fn = si.get_financials
data.get_all_ticker_data(fn, args)

Scrape stock price data async
SMAPU has 6 records
DLTH has 6 records
DXYN has 6 records
SNEX has 6 records
VCIT generated an exception: 'incomeStatementHistory'

In [8]:
test_df = pd.DataFrame()

In [9]:
type(test_df)

pandas.core.frame.DataFrame

In [12]:
a = {}
isinstance(a, pd.DataFrame)

False

In [13]:
a = {}
isinstance(test_df, dict)

False

In [4]:
stock_code = data.tickers[1]

In [18]:
kwargs = {
    'ticker': stock_code,
    'start_date': '01/01/2021',
    'end_date': '01/01/2022'
}

In [19]:
si.get_data(**kwargs)

            open  high   low  close  adjclose  volume ticker
2021-01-04  1.17  1.22  1.17   1.18      1.18   18000   AACG
2021-01-05  1.20  1.27  1.19   1.23      1.23   21300   AACG
2021-01-06  1.23  1.30  1.22   1.22      1.22   41400   AACG
2021-01-07  1.30  1.30  1.23   1.27      1.27   20400   AACG
2021-01-08  1.27  1.28  1.22   1.24      1.24   18600   AACG
...          ...   ...   ...    ...       ...     ...    ...
2021-12-27  1.25  1.26  1.15   1.18      1.18   28400   AACG
2021-12-28  1.12  1.18  1.12   1.17      1.17   26800   AACG
2021-12-29  1.17  1.17  1.04   1.06      1.06   76700   AACG
2021-12-30  1.08  1.12  1.00   1.04      1.04  116400   AACG
2021-12-31  1.06  1.10  1.06   1.07      1.07   59200   AACG

[252 rows x 7 columns]

In [26]:
a = {
    1:1
}

b = {
    2:3,
    **a
}

In [24]:
b

{2: 3, 1: 1}

In [6]:
si.get_data(stock_code, start_date = date())

            open   high   low  close  adjclose   volume ticker
2008-01-29  9.50   9.99  8.57   8.75  0.702589  1489000   AACG
2008-01-30  8.75   9.15  8.30   8.50  0.682515   219000   AACG
2008-01-31  8.49  10.30  8.49   9.55  0.766826   182300   AACG
2008-02-01  9.93   9.94  9.50   9.51  0.763614    28200   AACG
2008-02-04  9.50   9.71  9.50   9.50  0.762811     8300   AACG
...          ...    ...   ...    ...       ...      ...    ...
2022-06-06  1.01   1.05  1.01   1.03  1.030000     1800   AACG
2022-06-07  1.05   1.06  1.05   1.06  1.060000     8400   AACG
2022-06-08  1.06   1.11  1.06   1.07  1.070000     5000   AACG
2022-06-09  1.04   1.12  1.04   1.08  1.080000     5900   AACG
2022-06-10  1.16   1.16  1.09   1.10  1.100000     4300   AACG

[3619 rows x 7 columns]

In [8]:
si.get_quote_data(stock_code)

{'language': 'en-US',
 'region': 'US',
 'quoteType': 'EQUITY',
 'typeDisp': 'Equity',
 'quoteSourceName': 'Nasdaq Real Time Price',
 'triggerable': True,
 'customPriceAlertConfidence': 'HIGH',
 'currency': 'USD',
 'firstTradeDateMilliseconds': 1201617000000,
 'priceHint': 4,
 'epsTrailingTwelveMonths': -0.153,
 'epsForward': -1.32,
 'epsCurrentYear': -1.07,
 'priceEpsCurrentYear': -1.0271962,
 'sharesOutstanding': 31598600,
 'bookValue': 5.481,
 'fiftyDayAverage': 1.1354,
 'fiftyDayAverageChange': -0.036300063,
 'fiftyDayAverageChangePercent': -0.031971164,
 'marketCap': 34730020,
 'twoHundredDayAverageChange': -0.59634995,
 'twoHundredDayAverageChangePercent': -0.3517355,
 'forwardPE': -0.8326515,
 'priceToBook': 0.2005291,
 'sourceInterval': 15,
 'exchangeDataDelayedBy': 0,
 'pageViewGrowthWeekly': -0.041889854,
 'averageAnalystRating': '1.0 - Strong Buy',
 'postMarketChangePercent': -3.55746,
 'postMarketTime': 1654905112,
 'postMarketPrice': 1.06,
 'postMarketChange': -0.0391001,
 'regularMarketChange': 0.01909995,
 'regularMarketChangePercent': 1.7685139,
 'regularMarketTime': 1654891204,
 'regularMarketPrice': 1.0991,
 'regularMarketDayHigh': 1.16,
 'regularMarketDayRange': '1.09 - 1.16',
 'regularMarketDayLow': 1.09,
 'regularMarketVolume': 4252,
 'regularMarketPreviousClose': 1.08,
 'bid': 1.07,
 'ask': 1.12,
 'bidSize': 12,
 'askSize': 13,
 'fullExchangeName': 'NasdaqGM',
 'financialCurrency': 'CNY',
 'regularMarketOpen': 1.16,
 'averageDailyVolume3Month': 23933,
 'averageDailyVolume10Day': 8900,
 'fiftyTwoWeekLowChange': 0.2191,
 'fiftyTwoWeekLowChangePercent': 0.24897727,
 'fiftyTwoWeekRange': '0.88 - 4.75',
 'fiftyTwoWeekHighChange': -3.6509,
 'fiftyTwoWeekHighChangePercent': -0.7686105,
 'fiftyTwoWeekLow': 0.88,
 'fiftyTwoWeekHigh': 4.75,
 'dividendDate': 1535068800,
 'earningsTimestamp': 1652371503,
 'earningsTimestampStart': 1660161600,
 'earningsTimestampEnd': 1660593600,
 'trailingAnnualDividendRate': 0.0,
 'trailingAnnualDividendYield': 0.0,
 'twoHundredDayAverage': 1.69545,
 'tradeable': False,
 'exchange': 'NGM',
 'shortName': 'ATA Creativity Global',
 'longName': 'ATA Creativity Global',
 'messageBoardId': 'finmb_39920439',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EDT',
 'gmtOffSetMilliseconds': -14400000,
 'market': 'us_market',
 'marketState': 'CLOSED',
 'esgPopulated': False,
 'symbol': 'AACG'}

In [11]:
si.get_stats(stock_code)

                                         Attribute         Value
0                                Beta (5Y Monthly)          0.94
1                                 52-Week Change 3       -66.05%
2                          S&P500 52-Week Change 3        -8.33%
3                                   52 Week High 3        4.7500
4                                    52 Week Low 3        0.8800
5                          50-Day Moving Average 3        1.1354
6                         200-Day Moving Average 3        1.6954
7                              Avg Vol (3 month) 3        23.93k
8                               Avg Vol (10 day) 3          8.9k
9                             Shares Outstanding 5         31.6M
10                    Implied Shares Outstanding 6           NaN
11                                         Float 8         8.81M
12                            % Held by Insiders 1         5.49%
13                        % Held by Institutions 1        16.97%
14                   Shares Short (May 12, 2022) 4         5.59k
15                    Short Ratio (May 12, 2022) 4          0.38
16               Short % of Float (May 12, 2022) 4           NaN
17  Short % of Shares Outstanding (May 12, 2022) 4         0.02%
18       Shares Short (prior month Apr 13, 2022) 4        18.99k
19                  Forward Annual Dividend Rate 4           NaN
20                 Forward Annual Dividend Yield 4           NaN
21                 Trailing Annual Dividend Rate 3          0.00
22                Trailing Annual Dividend Yield 3         0.00%
23                 5 Year Average Dividend Yield 4           NaN
24                                  Payout Ratio 4         0.00%
25                                 Dividend Date 3  Aug 23, 2018
26                              Ex-Dividend Date 4  Aug 26, 2018
27                             Last Split Factor 2           NaN
28                               Last Split Date 3           NaN
29                                Fiscal Year Ends  Dec 30, 2021
30                       Most Recent Quarter (mrq)  Mar 30, 2022
31                                   Profit Margin       -14.73%
32                          Operating Margin (ttm)       -29.96%
33                          Return on Assets (ttm)        -7.38%
34                          Return on Equity (ttm)       -16.25%
35                                   Revenue (ttm)       206.76M
36                         Revenue Per Share (ttm)          6.46
37                  Quarterly Revenue Growth (yoy)        12.10%
38                              Gross Profit (ttm)        104.8M
39                                          EBITDA       -40.63M
40                  Net Income Avi to Common (ttm)       -32.74M
41                               Diluted EPS (ttm)       -0.1530
42                 Quarterly Earnings Growth (yoy)           NaN
43                                Total Cash (mrq)        62.41M
44                      Total Cash Per Share (mrq)          1.99
45                                Total Debt (mrq)        39.56M
46                         Total Debt/Equity (mrq)         22.65
47                             Current Ratio (mrq)          0.25
48                      Book Value Per Share (mrq)          5.48
49                       Operating Cash Flow (ttm)           NaN
50                    Levered Free Cash Flow (ttm)           NaN

In [12]:
si.get_stats_valuation(stock_code)

                           0       1
0      Market Cap (intraday)  34.13M
1           Enterprise Value  30.74M
2               Trailing P/E     NaN
3                Forward P/E     NaN
4  PEG Ratio (5 yr expected)     NaN
5          Price/Sales (ttm)    1.14
6           Price/Book (mrq)    1.35
7   Enterprise Value/Revenue    0.15
8    Enterprise Value/EBITDA   -0.50